services:
  postgres:
    image: postgres:16-alpine
    container_name: zero2prod-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgress
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgress"]
      interval: 2s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: